[submodule "Reviews"]
	path = Reviews
	url = https://github.com/hrla33-falcons/Reviews
[submodule "carousel-recommend-listings"]
	path = carousel-recommend-listings
	url = https://github.com/hrla33-falcons/carousel-recommend-listings
[submodule "search-bar-booking-tool"]
	path = search-bar-booking-tool
	url = https://github.com/hrla33-falcons/search-bar-booking-tool
[submodule "overview-amenities"]
	path = overview-amenities
	url = https://github.com/hrla33-falcons/overview-amenities
